# o2switch pagespeed start / DO NOT REMOVE OR EDIT
<IfModule pagespeed_module>
ModPagespeed on
ModPagespeedRewriteLevel PassThrough
ModPagespeedEnableFilters add_head,extend_cache
</IfModule>
# o2switch pagespeed end / DO NOT REMOVE OR EDIT

RewriteEngine on
RewriteCond %{HTTP_HOST} ^acolad\.fr$
RewriteRule ^/?$ "https\:\/\/www\.acolad\.fr\/" [R=301,L]


# Redirections explicites des URLs connues
RedirectMatch 301 ^/saclay/?$ https://www.acolad.fr/
RedirectMatch 301 ^/syndex/?$ https://www.acolad.fr/
RedirectMatch 301 ^/de-boeck/?$ https://www.acolad.fr/
RedirectMatch 301 ^/muzeopro/?$ https://www.acolad.fr/
RedirectMatch 301 ^/cplus2b/?$ https://www.acolad.fr/
RedirectMatch 301 ^/meettotravel/?$ https://www.acolad.fr/
RedirectMatch 301 ^/challenge-one/?$ https://www.acolad.fr/
RedirectMatch 301 ^/audio-analog/?$ https://www.acolad.fr/
RedirectMatch 301 ^/contact/?$ https://www.acolad.fr/
RedirectMatch 301 ^/equipe/?$ https://www.acolad.fr/
RedirectMatch 301 ^/mentions-legales/?$ https://www.acolad.fr/
RedirectMatch 301 ^/politique-confidentialite/?$ https://www.acolad.fr/
RedirectMatch 301 ^/projets/?$ https://www.acolad.fr/
RedirectMatch 301 ^/services/?$ https://www.acolad.fr/

<Files 403.shtml>
order allow,deny
allow from all
</Files>
